#detailSorting {
    margin:5%;
    width:95%;
    }
    
    #detailSum {
    margin:5% 25%;
    width:50%;
    }
    
    #detailsTable,#detailPagination {
    margin-left:2%;
    width:95%;
    border-collapse:collapse;
    }
    
    #empfehlung {
    background:url(../icons/uebersicht_template.png) no-repeat;
    background-position:center;
    background-size:contain;
    border:1px solid #404040;
    height:300px;
    margin:5% 15%;
    width:70%;
    }
    
    #uebersichtTable {
    border-collapse:collapse;
    margin:5% 15%;
    width:70%;
    }
    
    .alignCenter {
    text-align:center;
    }
    
    .alignLeft {
    text-align:left;
    }
    
    .alignRight {
    text-align:right;
    }
    
    .sort {
    background:url(../icons/sortAsc.png) no-repeat right center;
    }
    
    .sortDesc {
    background:url(../icons/sortDesc.png) no-repeat right center;
    }
    
    .sort:hover,button[data-type]>img:hover,th>img:hover {
    cursor:pointer;
    }
    
    button[data-type] {
    border:0;
    padding:0;
    }
    
    button[data-type]>img {
    height:auto;
    width:100%;
    }
    
    .iconBtn {
    width:50px;
    height:50px;
    padding:0;
    border:0;
    }
    
    .addDetailEntryBtn {
    background:url(../icons/addIcon.png) no-repeat center;
    }
    
    .editDetailEntryBtn {
    background:url(../icons/editDetailIcon.png) no-repeat center;
    }
    
    .deleteDetailEntryBtn {
    background:url(../icons/deleteIcon.png) no-repeat center;
    }
    
    .editBtn {
    background:url(../icons/editIcon.png) no-repeat center;
    }
    
    table thead:first-child tr,tfoot:last-child tr {
    background-color:#404040;
    color:#fff;
    font-size:1.1vw;
    font-weight:300;
    text-transform:uppercase;
    }
    
    table tr {
    border:1px solid #ddd;
    }
    
    tr:hover:not(:last-child) {
    background-color:#f1f1f1;
    transition:all .25s ease-in;
    }
    
    table>tbody>tr>td {
    font-size:1vw;
    }
    
    table>thead>tr>th {
    padding:5px;
    vertical-align:middle;
    }
    
    th:nth-child(1) {
    min-width:70px;
    }
    
    /* TODO Bessere Lösung für Spaltenbreite  */
    th:nth-child(n+2):nth-last-child(n+3) {
    min-width:150px;
    }