form,#recommendation {
    border-radius:5px;
    background-color:#f2f2f2;
    padding:1%;
    width:45%;
    height:calc(var(--vh,1vh) * 90);
    margin:1%;
    }
    
    form {
    float:left;
    }
    
    form>div {
    margin:2%;
    font-size:1.2vw;
    font-weight:400;
    text-transform:uppercase;
    }
    
    #recommendation {
    font-size:1vw;
    float:right;
    text-align:center;
    }
    
    #recommendation>div {
    width:80%;
    margin:auto;
    height:400px;
    background:url(../icons/uebersicht_template.png) no-repeat;
    background-size:contain;
    background-position:center;
    }
    
    #editRecomm > div {
    float:right;
    width:50%;
    margin:auto;
    height:200px;
    background:url(../icons/uebersicht_template.png) no-repeat;
    background-size:contain;
    background-position:center;
    }
    
    #recommendation>button {
    width:50%;
    }
    
    form>div>label {
    display:inline-block;
    width:70%;
    }
    
    #editRecomm>form {
    height:auto;
    float:left;
    }
    
    #editRecomm>form>div>label {
    width:40%;
    }
    
    #editRecomm>form>div>input {
    width:30%;
    text-align:right;
    float:right;
    }
    
    #editRecomm>form>div:last-child {
    font-weight:600;
    }
    
    #confGeneral>div>form>div:last-child {
    width:96%;
    }
    
    #confGeneral>div>form>div>button:last-child {
    float:right;
    }
    
    #konfigurationMainContent>div>div>form>div>input,#konfigurationMainContent>div>div>form>div>select {
    margin:auto;
    width:30%;
    font-size:1vw;
    border:1px solid #d9d9d9;
    padding:1vw .75vw;
    }