.is-disabled {
    opacity:.5;
    pointer-events:none;
    }
    
    #mainContent {
    padding:0;    
    }
    
    .login-form {        
    padding:0!important;
    }
    
    div[role=dialog] {
    padding:0;
    }
    
    #mainContent>div>ul {
    background:none;
    border:none;
    border-bottom:1px solid #ddd;
    }
    
    #login-form input {
    display:block;
    margin:auto;
    width:85%;
    font-size:1vw;
    margin-bottom:1vw;
    border:1px solid #d9d9d9;
    padding:1vw .75vw;
    color:#757575;
    }
    
    #loginErrorMessage,#registerErrorMessage,#forgotPwErrorMessage {
    display:inline-block;
    color:red;
    font-weight:400;
    }
    
    #loginSuccessMessage {
    display:inline-block;
    color:green;
    font-weight:400;
    }
    
    .disableForPwForgot {
    display:none!important;
    }
    
    .customLink:hover {
        font-weight: 600;
        cursor: pointer;

    }
    .passwordInput {
    position:relative;
    }
    
    .passwordEye {
    position:absolute;
    top:15px;
    right:20px;
    font-size:15px;
    width:40px;
    height:25px;
    }
    
    .passwordEyeOpen {
    background:url(../icons/eyeOpen.png) no-repeat;
    }
    
    .passwordEyeClose {
    background:url(../icons/eyeclose.png) no-repeat;
    }
    
    
    div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix {
    padding:0;
    margin:0;
    }