form {
    border-radius:5px;
    background-color:#f2f2f2;
    padding:1%;
    width:100%;
    height:calc(var(--vh,1vh) * 90);
    }
    
    form>div {
    margin:1%;
    font-size:1.2vw;
    font-weight:400;
    text-transform:uppercase;
    }
    
    form>div>label {
    display:inline-block;
    width:25%;
    }
    
    #changeUserPwBtn {
    background:url(../icons/editIcon.png) no-repeat center;
    width:4%;
    height:50px;
    border:none;
    margin-right:37.5%;
    padding:0;
    }
    
    /* TODO Width relativ angeben */
    #changePwDialog {
    width:420px!important;
    }
    
    #changePwDialog>div>input {
    float:right;
    text-align:right;
    }
    
    #changePwDialog>div {
    margin:2%;
    }
    
    #profGeneral>form>div>input {
    background:none;
    }
    
    #profEdit>form>div:last-child,#profDelete>form>div:last-child {
    width:54%;
    }
    
    #profEdit>form>div>button:last-child,#profDelete>form>div>button:last-child {
    float:right;
    }
    
    #profilMainContent>div>form>div>input {
    margin:auto;
    width:30%;
    font-size:1vw;
    margin-bottom:.8vw;
    border:1px solid #d9d9d9;
    padding:1vw .75vw;
    }
    
    .passwordInput {
    position:relative;
    }
    
    .passwordEye {
    position:absolute;
    font-size:15px;
    width:40px;
    height:25px;
    z-index:1000;
    }
    
    .alignLeft {
    text-align:left;
    }
    
    .alignRight {
    text-align:right;
    }
    
    .alignCenter {
    text-align:center;
    }
    
    .sort {
    background:url(../icons/sortAsc.png) no-repeat right center;
    }
    
    .sortDesc {
    background:url(../icons/sortDesc.png) no-repeat right center;
    }
    
    .sort:hover,.iconBtn:hover {
    cursor:pointer;
    }
    
    .passwordEyeOpen {
    background:url(../icons/eyeOpen.png) no-repeat;
    }
    
    .passwordEyeClose {
    background:url(../icons/eyeclose.png) no-repeat;
    }
    
    #createAccountsTable {
    width:95%;
    margin-left:5%;
    border-collapse:collapse;
    }
    
    .iconBtn {
    width:50px;
    height:50px;
    padding:0;
    border:0;
    }
    
    .addBtn {
    background:url(../icons/addIcon.png) no-repeat center;
    }
    
    .deleteBtn {
    background:url(../icons/deleteIcon.png) no-repeat center;
    }
    
    .editBtn {
    background:url(../icons/editIcon.png) no-repeat center;
    }
    
    th {
    border:1px solid #d9d9d9;
    padding:5px;
    min-width:70px;
    }
    
    th:nth-child(8),th:nth-child(9) {
    border:none;
    }
    
    tr:hover:not(:last-child) {
    background:#d9d9d9;
    transition:all .25s ease-in;
    }
    
    .ui-tooltip {
    color:red!important;
    font-weight:600!important;
    }
    
    .deleteAccountId {
    font-size:1.6rem;
    background:#d9d9d9;
    border:2px solid #000;
    padding:2px;
    }