@import "http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300";
* {
    font-family: 'Roboto Condensed' !important;
}

body {
    display: flex;
    margin: 0;
    font-weight: 200;
    width: 98%;
}

#mainMenu {
    display: inline-block;
    font-size: 1.4vw;
    background: #404040;
    height: calc(var(--vh, 1vh) * 100);
    line-height: 1;
    width: 17%;
}

#mainMenu>div {   
    cursor: pointer;
    background: #404040;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #fff;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 300;    
}

#mainMenu>div>ul {
    padding: 0;
}

#mainMenu>div>h3
{
    margin: 0;
    background: #404040;
    color: #fff;     
    border: none;
    border-bottom: 1px solid #888;   
}

#mainMenu>div>ul>li {
    list-style-type: none;
    font-size: 1.1vw;
    padding: 3%;
}

#mainMenu>div>ul>li>a {    
    width: 100%;
    font-weight: 300;
    text-decoration: none;
    color: #666
}

 #mainMenu>div>h3:hover {
    background: #d9d9d9;
    color: #666;
}

#mainMenu>div>ul>li:hover {
    background: #404040;
    color: #fff;
    transition: all 0.25s ease-in;
}

#mainMenu>div>ul>li>a:hover {
    color: #fff
}

.customActive {
    background: #d9d9d9;
    color: #666;
    transition: all 0.25s ease-in;
}


.mainContent {
    width: 100%;
    padding: 0;
}

.mainContent>ul {
    text-transform: uppercase;
    background: #404040;
    font-size: 1.2vw;
    color: #fff;
    border: none;
} 

li[role=tab] {
    background: #404040 !important;
}

li[role=tab]>a {
    color: #fff !important;
}

li[role=tab]:hover {
    background: #d9d9d9;
    color: #666;
}

li.ui-tabs-active {
    background: #d9d9d9 !important;
    border: 1px solid #666 !important;
    border-bottom: none !important;
}

li.ui-tabs-active>a {
    color: #666 !important;
}